/*-- COLORS --*/

$main-color: #333333;

$secondary-color: #76787D;

$main-background: #FDFDFD;

$company-color: #E31F24;

/* -- BORDERS --*/
   
$box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

// MEDIA 
 
$breakpoint-desctop: 1200px; 

$breakpoint-laptop: 1024px; 

$breakpoint-tablet: 767px; 

$breakpoint-mobile: 576px; 

$breakpoint-mobile-mini: 340px; 
